{{> navbar}}

<div class="container-fluid">
    <div class="row mt-4 justify-content-center">
        <div class="col-6 form-container">
            <p>Argumentos de entrada: {{inputArgs}}</p>
            <p>Path de ejecucion: {{path}}</p>
            <p>Sistema operativo: {{os}}</p>
            <p>Process id: {{id}}</p>
            <p>Version de node.js: {{version}}</p>
            <p>Carpeta del proyecto: {{cwd}}</p>
            <p>Memoria total reservada: {{memory.rss}}</p>
        </div>
    </div>
</div>